<footer class="bg-dark pt-3">
	<div class="container">
		<div class="row">
			<div class="col-6 col-sm-6 col-md-3 mt-2">
				<h3 class="h5 text-white">Informations</h3>
				<img src="{{asset('./uploads/site/separater.png')}}" alt="">

				<ul class="list-unstyled">
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
				</ul>
			</div>
			<div class="col-6 col-sm-6 col-md-3 mt-2">
				<h3 class="h5 text-white">Nos services</h3>
				<img src="{{asset('./uploads/site/separater.png')}}" alt="">

				<ul class="list-unstyled">
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
					<li>
						<a class="nav-link text-white" href="">Lien</a>
					</li>
				</ul>
			</div>
			<div class="col-6 col-sm-6 col-md-3 mt-2">
				<h3 class="h5 text-white">Contactez-nous</h3>
				<img src="{{asset('./uploads/site/separater.png')}}" alt="">

				<ul class="list-unstyled text-white">
					<li>
						<span class="footer-title">Email</span>
						<br><small>shangrila@gmail.com</small>
					</li>
					<li class="mt-3">
						<span class="footer-title">Téléphone</span>
						<br><small>01.23.45.67.89</small>
					</li>
					<li class="mt-3">
						<span class="footer-title">Adresse</span>
						<br><small>10 allée des coquillages
							<br>
							62000 Arras</small>
					</li>
				</ul>
			</div>
			<div class="col-6 col-sm-6 col-md-3 mt-2">
				<h3 class="h5 text-white">Réseaux sociaux</h3>
				<img src="{{asset('./uploads/site/separater.png')}}" alt="">

				<ul class="list-unstyled text-white">
					<li>
						<i class="fab fa-facebook"></i>
						Facebook</li>
					<li>
						<i class="fab fa-twitter-square mt-3"></i>
						Twitter</li>
					<li>
						<i class="fab fa-instagram  mt-3"></i>
						Instagram</li>
					<li>
						<i class="fab fa-linkedin  mt-3"></i>
						Linkedin</li>
					<li>
						<i class="fab fa-pinterest  mt-3"></i>
						Pinterest</li>
					<li>
						<i class="fab fa-tiktok  mt-3"></i>
						TikTok
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
