{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			<div class="mt-5 col-md-6 offset-md-3 bg-light shadow px-5 py-3">
				<hr>
				<p class="text-center">
					Si un compte correspond à votre adresse email, un courrier electronique vient juste d'être envoyé. Il contient un lien sur lequel vous devez cliquer afin de terminer la procédure de réinitialisation de votre mot de passe. Ce lien expire au bout d'{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
				</p>
				<p class="text-center fw-bold">
					Si vous n'avez rien reçu, pensez à vérifer votre dossier "spam", ou alors <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
				<hr>
			</div>
		</div>
	</div>
{% endblock %}
