<h1>Cher client, bonjour !</h1>

<p>Afin de réinitialiser votre mot de passe, cliquez sur le lien suivant : </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Merci à vous !</p>
