{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="container">
		<div class="row">
			<div class="mt-5 col-md-6 offset-md-3 bg-light shadow px-5 pb-3">
				<div class="mb-5 mt-5">
					<h1 class="h2 text-center">Réinitialisation de votre mot de passe</h1>
				</div>
				<p class="text-center text-muted">
                    Entrez votre email, nous vous enverrons un lien pour réinitialiser votre mot de passe.
				</p>
				<hr>
				{{ form_start(requestForm) }}
				{{ form_row(requestForm.email) }}
				<button type="submit" class="btn btn-primary form-control">Envoyer l'email</button>
				{{ form_end(requestForm) }}
			</div>
		</div>
	</div>

{% endblock %}
