{% extends "base.html.twig" %}

{% block title %}Interface d'administration
{% endblock %}

{% block body %}

	<div class="container mt-5 mb-5">
		<div class="row">
			<h1 class="h2 mb-5">Interface d'administration</h1>
			<div class="col-md-3">
				{% include "/admin/_sidebar-admin.html.twig" %}
			</div>

			<div class="col-md-9">
				<div class="row">
					<div class="p-3 bg-primary col-md-2 m-2 text-white">
						<div class="d-flex flex-column align-items-center">
							<i class="fas fa-users fa-3x"></i>
							{{userNumber}}
							Utilisateurs</div>
					</div>
					<div class="p-3 bg-info col-md-2 m-2 text-white">
						<div class="d-flex flex-column align-items-center">
							<i class="fas fa-shopping-cart fa-3x"></i>
							{{orderNumber}}
							Commandes</div>
					</div>
					<div class="p-3 bg-success col-md-2 m-2 text-white">
						<div class="d-flex flex-column align-items-center">
							<i class="fas fa-utensils fa-3x"></i>
							{{foodNumber}}
							Plats au menu</div>
					</div>
					<div class="p-3 bg-warning col-md-2 m-2 text-white">
						<div class="d-flex flex-column align-items-center">
							<i class="fas fa-comments fa-3x"></i>
							{{commentNumber}}
							Commentaires</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
