{% extends "base.html.twig" %}

{% block title %}
	Page non-trouvée
{% endblock %}

{% block body %}
	<main class="container mt-5 mb-5 text-center">
		<div class="alert alert-warning" role="alert">
			<h1 class="alert-heading">Oups ! La page demandée n'existe pas</h1>
			<p>Merci de revenir sur la page d'accueil, ou contactez le webmaster</p>
			<hr>
			<p class="mb-0">
				<a class="btn btn-lg btn-dark" href="{{path('home')}}"><i class="fas fa-backward"></i> Retour à l'accueil</a>
				<a class="btn btn-lg btn-secondary" href="{{path('order')}}">Commander</a>
			</p>
		</div>
	</main>
{% endblock %}
